%h1
  = @user.username

.follow
  .follow_count
    = following_link

  .follow_count
    = followers_link

= render 'microposts/timeline', microposts: @microposts

.pagination
  = paginate @microposts
